  <div class="mdl-layout__content">
    <div class="mdl-layout-spacer">
      <div class="title mdl-layout-title col-xs-12 col-sm-6 col-sm-offset-3">
          <h1>New Cocktail</h1>
      </div>
      <div class="field col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render 'form' %>
        <button class="align-text-bottom mdl-button mdl-js-button mdl-button--primary"><%= link_to 'Back', cocktails_path %></button>
      </div>
    </div>
  </div>

