body {
  background-color: white;
}

.field {
  background-color: #B2EBF2;
  min-height: 100vh;
  box-shadow: 1px 0px 10px #BDBDBD;
  font-family: Roboto;
  padding: 50px;
  text-align: left;
  color: #757575;
}

.title h1 {
  opacity: 87%;
  color: white;
  font-weight: lighter;
  padding-left: 50px;
}

.title {
  background-color: #00BCD4;
  box-shadow: 1px 0px 10px #BDBDBD;
}

