
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row"><!-- Title -->
    <span class="mdl-layout-title"><%= link_to image_tag('cocktail-glass-with-lemon-slice.png', size: "30x30"), cocktails_path %></span>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--primary"><%= link_to "New Cocktail", new_cocktail_path %></button>
    <button class="mdl-button mdl-js-button mdl-button--primary"><%= link_to "All Cocktails", cocktails_path %></button>
  </div>
</header>
